*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  font-family: 'Open Sans',sans-serif;
}
img{
  width: 100%;
  display: block;
}
.main-wrapper{
  min-height: 100vh;
  background: #EAD2AC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.product-div{
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 3px;
  column-gap: 10px;
}
.product-div-left{
  padding: 20px;
}
.product-div-right{
  padding: 20px;
}
.img-container img{
  width: 200px;
  margin: 0 auto;
}
.hover-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.hover-container div{
  border: 2px solid #EAD2AC;
  padding: 5px;
  border-radius: 3px;
  margin: 0 4px 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active{
  border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
  border-color: rgb(255, 145, 163)!important;
}
.hover-container div img{
width: 50px;
cursor: pointer;
}
.product-div-right span{
  display: block;
}
.product-name{
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
  color: #DF928E;
}
.product-price{
  font-weight: 700;
  font-style: 24px;
  opacity: 0.9;
  font-weight: 500;
  color: #DF928E;
}
.product-rating{
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.product-rating span{
  margin-right: 6px;
}
.product-description{
  font-weight: 18px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
  color: #DF928E;
}
.btn-groups{
  margin-top: 22px;
}
.btn-groups button{
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 15px 16px;
  color: #DF928E;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-groups button a{
  text-decoration: none;
  color: #DF928E;
}
.btn-groups button .fas{
  margin-right: 8px;
}
.add-cart-btn{
  background-color: #EAD2AC;
  border: 2px #EAD2AC;
  margin-right: 8px;
}
.add-cart-btn:hover{
  background-color: #f4d59f;
  color: black;
}
.buy-now-btn{
  background-color: pink;
  border: 2px solid pink;
}
.buy-now-btn:hover{
  background-color: fff;
  color: black;
}
@media screen and (max-width:992px) {
  .product-div{
    grid-template-columns: 100%;
  }
  .product-div-right{
    text-align: center;
  }
  .product-rating{
    justify-content: center;
  }
  .product-description{
    min-width: 400;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width:400px){
  .btn-groups button{
    width: 100%;
    margin-bottom: 10px;
  }
  
}